#################################################
# MySQL Cluster client, Jim Dowling.
#################################################
[mysql]
default-character-set = utf8

[mysqld]
user            = mysql
basedir         = /srv/hops/mysql
datadir         = /srv/hops/mysql-cluster/mysql
port            = 3306
socket          = /srv/hops/mysql-cluster/mysql.sock
bind-address    = 0.0.0.0
pid-file        = /srv/hops/mysql-cluster/log/mysqld.pid
tmpdir          = /tmp
max-connections = 512
max-prepared-stmt-count = 65530

# this allows us to run benchmarks
local_infile = ON

default-time-zone = "+00:00"

# Explicit defaults for TS needed by 'airflow initdb'
explicit_defaults_for_timestamp = 1

collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8

# use NDB storage engine and make NDB the default table type
ndbcluster
default-storage-engine = ndbcluster

#################################################
# optimizations to improve performance of NDB
#################################################
#
# We only use the mysql-server for SELECT COUNT(*) operations. 
# This makes most other queries become much slower. 
# It can have a significant effect on performance. 
ndb-use-exact-count=0

# flush the adaptive-send buffer immediately 
ndb-force-send=0

# allow indexes to be used on ndb nodes (rather than joins performed in MySQL Server)
optimizer_switch=engine_condition_pushdown=on

# activate AQL for faster joins
ndb-join-pushdown=1

# use the cluster connection pool to reduce cluster connection setup time
ndb-cluster-connection-pool=%s
# ndb-cluster-connection-pool-nodeids # not using this for now

# Log more data at MySQL Server about ndb
ndb-extra-logging=0

# for autoincrement, size of prefetching 
ndb-autoincrement-prefetch-sz=1024

# NDB transaction batche sizes. Higher batch sizes to optimize for throughput.
ndb-batch-size=1M

#################################################
# Other [mysqld] params
#################################################

# replication settings go here

#################################################
# TLS/SSL Settings
#################################################


#################################################
# mysql_cluster connection params
#################################################

[mysql_cluster]
# set connectstring to ndb management server (used by all executables)
ndb-connectstring=%s
ndb-wait-setup=900

[client]
default-character-set   = utf8
socket                  = /srv/hops/mysql-cluster/mysql.sock
user                    = kthfs 
password                = kthfs